// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --first-color: ;
  --first-color-dark: ;
  --text-color: ;
  --body-color: ;
  --section-color: ;
  --span-color-light: ;
  --body-font: ;
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --h4-font-size: ;
  --normal-font-size: ;
  --font-medium: ;
  --font-semibold: ;
  --font-bold: ;
  --font-reqular: ;
  --font-light: ;
  --mb-1: ;
  --mb-2: ;
  --md-3: ;
  --mb-4: ;
  --mb-5: ;
  --mb-6: ;
}
@media screen and (max-width: 991px) {
/* стили для больших планшетов - начало */
}
@media screen and (max-width: 767px) {
/* стили для средних планшетов - начало */
}
@media screen and (max-width: 479px) {
  /* стили для телефонов - начало */
}